@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  html {
    scroll-behavior: smooth;
    font-size: 16px;
  }
}

@layer utilities{
  .transform-style-3d {
    transform-style: preserve-3d;
  }

  .perspective-1000 {
    transform: perspective(1000px);
  }

  .animation-once {
    animation-iteration-count: 1;
  }

  .animation-infinite {
    animation-iteration-count: infinite;
  }

  /* Hide scrollbar for any element */
  .scrollbar-none {
    overflow: auto;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit browsers */
  }

  .scrollbar-none {
    -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
  }

  /* Sleek custom scrollbar */
  .sleek-scrollbar {
    /* For Firefox  */
    scrollbar-width: thin;
    scrollbar-color: #1a1a1a26 transparent; /* thumb color | track color */
  }
  html.dark .sleek-scrollbar {
    scrollbar-color: #ffffff26 transparent;
  }

  .sleek-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .sleek-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  .sleek-scrollbar::-webkit-scrollbar-thumb {
    background: #1a1a1a26;
    border-radius: 6px;
  }
  html.dark .sleek-scrollbar::-webkit-scrollbar-thumb {
    background: #ffffff26;
  }

  .sleek-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #1a1a1a3f;
  }
  html.dark .sleek-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ffffff3f;
  }

  .sleek-scrollbar {
    scrollbar-face-color: #1a1a1a26; /* Thumb color for old IE */
    scrollbar-track-color: transparent; /* Track color for old IE */
  }
  html.dark .sleek-scrollbar {
    scrollbar-face-color: #ffffff26; /* Thumb color for old IE */
  }

  /* Remove arrows from number inputs */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  /* Stop that weird different color of inputs when auto-filled or completed */
  /* Add a transition-delay of 1hr to delay the changing of background by the browser */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  input:-internal-autofill-selected,
  input:-internal-autofill-selected:hover,
  input:-internal-autofill-selected:focus,
  input:-internal-autofill-selected:active {
    transition-delay: 3600s !important;
  }

  input[autocomplete='fake-input'] {
    color: transparent !important;
    background: transparent !important;
    width: 100% !important;
  }
}